

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --width: 450px;
    --height: calc(var(--width) * 0.5);
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: url("../../img/forest-310072.svg");
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-size: 30%;
    background-image: z-index 999;
}